$loaderBackground: #eeeeee;
$loaderHighlight: #dedede;

@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin itemsCenter {
    display: flex;
    align-items: center;
}

@mixin border {
    border: 1px solid #ccc;
}

@mixin borderRadius {
    border-radius: 8px;
}

@mixin boxShadow2 {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

.line_skeleton {
    background: linear-gradient(90deg, $loaderBackground 25%, $loaderHighlight 50%, $loaderBackground 75%);
    background-size: 200% 100%;
    animation: loading 2s infinite ease-in-out;
    border-radius: 8px;
}

.header_skeleton {
    margin-top: 10px;
    .top {
        @include flexBetween;
    }
}
.items_list {
    @include itemsCenter;
    margin-top: 10px;
}
.border {
    @include border;
    @include borderRadius;
}
.shadow {
    @include boxShadow2;
}

.items_center_col {
    @include itemsCenter;
    flex-direction: column;
}
.items_col {
    @include flexColumn;
}
.flex_start {
    align-items: flex-start;
}

.avatar_skeleton {
    background: linear-gradient(90deg, $loaderBackground 25%, $loaderHighlight 50%, $loaderBackground 75%);
    background-size: 200% 100%;
    animation: loading 2s infinite ease-in-out;
}

.cover_image_skeleton {
    width: 300px;
    height: 200px;
    background: linear-gradient(
        90deg,
        var(--loader-background-color) 25%,
        var(--loader-highlight-color) 50%,
        var(--loader-background-color) 75%
    );
    background-size: 200% 100%;
    animation: loading 2s infinite ease-in-out;
    border-radius: 8px;
    margin-bottom: 20px;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}
