.draggable_section {
    width: 100%;
    overflow: hidden;
    position: relative;

    .draggable_container {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            height: 0px;
        }
    }
}
.space_main {
    padding: 0;
}
